@model Pizzeria.Models.Pizza

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h4>Usuń</h4>
</div>
<h2>Czy napewno chcesz usunąć pizzę?</h2>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceForSmall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceForSmall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceForMedium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceForMedium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceForLarge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceForLarge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thickness)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" />
        </div>
    }
    <br />
    @Html.ActionLink("Powrót", "Index")
</div>
